.profileImg {
    max-width: 50%;
}

.searchImg {
    max-width: 50%;
    height: auto;
    padding-top: 5%;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.btndeladd {
  min-width: 100px;
}

.logomin {
  max-height: 75px;
}

/* .row {
  border: 1px solid red;
}

.col {
    border: 1px solid blue;
  } */