.profileImg {
    max-width: 95%;
    height: auto;
}

.editProfileImg {
  max-width: 75%;
  height: auto;
}

.searchImg {
    max-width: 80%;
    min-width: 25px;
    height: auto;
    margin-top: 5px;
    margin-bottom: 10px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.btndeladd {
  min-width: 30px;
  font-size: 16px;
  text-align: center;
}

.logomin {
  max-height: 75px;
}

.logomax {
  max-width: 85%;
}

#dropdown {
  width: 100px;
}

.link {
  color: purple !important;
}

.link2 {
  color: purple !important;
}

.link2:hover {
  color: purple !important;
  text-decoration: underline !important;
}

.btn-purple {
  background-color: purple;
  color: white;
  margin-top: 5px;
  margin-bottom: 10px;
}

.btn-purple:hover {
  color: purple;
  background-color: white;
  border-color: purple;
}

.btn-purple:not(:disabled):not(.disabled):active, .btn-purple:not(:disabled):not(.disabled).active, .show > .btn-purple.dropdown-toggle {
  color: white;
  background-color: purple;
  border-color: purple;
}

.btn-outline-dark {
  border-color: purple;
  color: purple;
}

.btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active, .show > .btn-outline-dark.dropdown-toggle {
  color: #fff;
  background-color: purple;
  border-color: purple;
}

.btn-outline-dark:hover {
  color: #fff;
  background-color: purple;
  border-color: purple;
}

.navbar-brand:hover {
  color: purple !important;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: purple !important;
}

.odd:nth-child(odd){
  background: rgba(221, 221, 221, 0.555)
}

.even:nth-child(even){
  background: rgba(221, 221, 221, 0.555)
}

.shaded {
  background: rgba(128, 0, 128, 0.63);
}

.shadedSearch {
  background: rgba(221, 221, 221, 0.555);
}

.white {
  color: white;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.nav-link:hover,
.nav-link:focus {
  color: purple !important;
}

/* .row {
  border: 1px solid red;
}

.col {
    border: 1px solid blue;
  } */

  .col {
    margin-top: 5px;
  }

  .col-sm-2 {
    margin-top: 5px;
  }