.profileImg {
    max-width: 75%;
}

.profileImg2 {
    max-width: 50%;
    height: auto;
    padding-top: 5%;
}

.left {
  text-align: left;
}

/* .row {
  border: 1px solid red;
}

.col {
    border: 1px solid blue;
  } */